<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/index.css" />
    <title>Create Website</title>
  </head>
  <body includer-log="true">
    <!-- App Component-->
    <include src="components/app.html"></include>

    <!-- Scripts -->
    <script src="js/includer.bundle.js"></script>
  </body>
</html>
